[Unit]
Description=IPFS dump1090 PubSub
Wants=dump1090-fa.service
After=ipfs.service

[Service]
User=pi
ExecStart=/usr/bin/python3 /home/pi/dump1090-ipfs-pubsub/dump1090_pub.py
Type=simple
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target